
@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<p>
    Please check your email to reset your password.
</p>
